#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.formWrapper {
  display: flex; 
  flex-direction: column;
}

.formWrapper>header {
  background-color: blueviolet;
}

h1 {
  font-size: 3rem;
}

body {
  display: flex;
  flex-direction: column;
}

.questionBlock {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  border: 1px solid white;
  padding: 2rem;
}


.questionBlock p {
  
}